services:
  api:
    build:
      context: ./ember-4-brocoli
      dockerfile: apps/api/Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      CORS_ORIGIN: ${PUBLIC_URL}
      PORT: 3333

  mf-profile:
    build:
      context: ./ember-4-brocoli
      dockerfile: apps/mf-profile/Dockerfile

  mf-blog-article:
    build:
      context: ./ember-4-brocoli
      dockerfile: apps/mf-blog-article/Dockerfile

  ember:
    build:
      context: ./ember-4-brocoli
      dockerfile: apps/ember/Dockerfile

  react-shell:
    build:
      context: ./ember-4-brocoli
      dockerfile: apps/react-shell/Dockerfile
    depends_on:
      - mf-profile
      - mf-blog-article
      - ember
      - api
